<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.alfred.missingPackages</string>
	<key>connections</key>
	<dict>
		<key>02DE228A-5A62-4D04-983E-55A62109C49C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCFE07C6-A8F9-42DD-9D51-6A5E5CBC82A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71E18D0C-8584-4EE0-BE3B-D130BFE496FC</key>
		<array/>
		<key>9BDC7F93-27B1-4C7D-AD72-F2DCDEC95C05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCC830C8-B7CC-4232-AA26-AC0D84F78248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCFE07C6-A8F9-42DD-9D51-6A5E5CBC82A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E816DD6D-2294-4C09-AD73-93A18E160D2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BDC7F93-27B1-4C7D-AD72-F2DCDEC95C05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E816DD6D-2294-4C09-AD73-93A18E160D2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71E18D0C-8584-4EE0-BE3B-D130BFE496FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Example workflow demonstrating how to install required packages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Missing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open_missing_command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>02DE228A-5A62-4D04-983E-55A62109C49C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>missing</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/dependencies.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Test for Package Installation</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DCFE07C6-A8F9-42DD-9D51-6A5E5CBC82A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd "{query}"
./install.sh &amp;&amp; exit || exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>71E18D0C-8584-4EE0-BE3B-D130BFE496FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>uninstall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E816DD6D-2294-4C09-AD73-93A18E160D2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>uninstall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9BDC7F93-27B1-4C7D-AD72-F2DCDEC95C05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm -rf src/lib/*
osascript -e 'tell application "Alfred 3" to run trigger "open_missing_command" in workflow "org.jeef.alfred.missingPackages" with argument "missing"'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCC830C8-B7CC-4232-AA26-AC0D84F78248</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Missing Pacakge - Installation Demo

This plugin demonstrates how you could make a very barebones plugin that will automatically install its dependencies in a local directory

Trigger it with the 'missing' command</string>
	<key>uidata</key>
	<dict>
		<key>02DE228A-5A62-4D04-983E-55A62109C49C</key>
		<dict>
			<key>note</key>
			<string>This External Trigger allows the plugin to be called via command line.  It is used so that once an operation is finished the plugin will re-trigger</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>71E18D0C-8584-4EE0-BE3B-D130BFE496FC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Open a terminal to the src directory and intstall missing dependencies into src/lib

When finished re-open the plugin</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9BDC7F93-27B1-4C7D-AD72-F2DCDEC95C05</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>'uninstall'</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CCC830C8-B7CC-4232-AA26-AC0D84F78248</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delete all files in the src/lib directory and re-trigger the plugin</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>DCFE07C6-A8F9-42DD-9D51-6A5E5CBC82A3</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E816DD6D-2294-4C09-AD73-93A18E160D2D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Anytyhing but 'uninstall'</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string>https://github.com/jeeftor/AlfredMissingDependencies</string>
</dict>
</plist>
